@model List<Movies.Web.Models.ApplicationUser>
@using Movies.Web.Controllers
@using Movies.Web.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework

@{
    ViewBag.Title = "All users";
}

<div class="h1 container text-center">
    All users
</div>

<div>
    <table class="table table-bordered table-responsive table-hover">
        <tr style="background-color:#363532;color:white">

            <th>User</th>
            <th>Role</th>
            <th>Action</th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@((ViewBag.roles as List<IdentityRole>).Where(x => x.Id == (item.Roles.Where(y => y.UserId == item.Id).Select(z => z.RoleId).FirstOrDefault())).Select(j => j.Name).FirstOrDefault())</td>
                <td>
                    @if  ((ViewBag.roles as List<IdentityRole>).Where(x => x.Id == (item.Roles.Where(y => y.UserId == item.Id).Select(z => z.RoleId).FirstOrDefault())).Select(j => j.Name).FirstOrDefault()=="Admin" )
                    {
                        @Html.ActionLink("Delete admin role", "DeleteAdmin", "Account", new { id = item.Id}, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("Give admin role", "GiveAdmin", "Account", new { id=item.Id }, new { @class = "btn btn-success" })

                    }
                    @Html.ActionLink("Delete", "Delete", "Account", new { user = item }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }



    </table>
</div>